---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/Hero.astro'
import BlogCard from '../../components/BlogCard.astro'
import { getCollection } from 'astro:content'
const blogEntries = await getCollection('blog')
import { BlocksRenderer, type BlocksContent } from '@strapi/blocks-react-renderer';

const sortedBlogEntries = blogEntries.sort((a: any, b: any) => {
    return b.data.date - a.data.date
})

const headingResponse = await fetch(`${import.meta.env.PUBLIC_STRAPI_API}home-banners/6`)
const { data : {attributes } } = await headingResponse.json()
console.log(attributes);
const heading = attributes.heading

const content: BlocksContent = attributes.bodyText; 

---

<Layout title="eoss - Blog" description="Für Eoss hört das Lernen niemals auf. In unserem Blog lassen wir Sie an unserem Wissen teilhaben.">
    <Hero title={heading} type="small">
        <BlocksRenderer content={content} />
    </Hero>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4 py-32">
        {
            sortedBlogEntries.map((entry: any) => (
                <BlogCard
                    title={entry.data.title}
                    tags={entry.data.tags}
                    slug={entry.slug}
                    date={entry.data.date}
                />
            ))
        }
    </section>
</Layout>
