---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import CursorText from '../components/react/CursorText.tsx'
import BlogTeaser from '../components/BlogTeaser.astro'
import ProjectsTeaser from '../components/ProjectsTeaser.astro'
import { BlocksRenderer, type BlocksContent } from '@strapi/blocks-react-renderer';

console.log(import.meta.env)
const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API}home-banners/1`)
const responseData = await response.json()
const description =
    responseData.data?.attributes?.bodyText[0]?.children[0]?.text
const heading = responseData.data?.attributes?.heading
const contactUrl = responseData.data?.attributes?.contact_url
const contactText = responseData.data?.attributes?.contact_text


const boyTextRresponse = await fetch(`${import.meta.env.PUBLIC_STRAPI_API}home-body-text`)
const boyTextRresponseData = await boyTextRresponse.json()
const content: BlocksContent = boyTextRresponseData.data?.attributes?.BodyText; 
---

<Layout title="eoss - Web, E-Commerce, UX und SEO" description="Wir vereinen moderne Webseiten UX und SEO und begeistern die Nutzer.">
    <main>
        <Hero
            title={heading}
            ,
            type="big"
            buttonText={contactUrl}
            buttonLink={contactText}
        >
        {description}
        </Hero>
        <Section type="medium" align="center">
            <div class="text-sm md:text-md"><BlocksRenderer content={content} /></div>
            
        </Section>
        <BlogTeaser tag="alle" count={2} />
        <ProjectsTeaser tag="alle" count={2} />
    </main>
</Layout>

<style></style>
