---
import Layout from '../layouts/Layout.astro'
import TeamCard from '../components/TeamCard.astro'
import { getCollection } from 'astro:content'
import Hero from '../components/Hero.astro'
const teamEntries = await getCollection('team')

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API}home-banners/4`)
const responseData = await response.json()
const description =
    responseData.data?.attributes?.bodyText[0]?.children[0]?.text
const heading = responseData.data?.attributes?.heading 

const response2 = await fetch(`${import.meta.env.PUBLIC_STRAPI_API}home-banners/5`)
const respons2eData = await response2.json()
const description_2 = respons2eData.data?.attributes?.bodyText[0]?.children[0]?.text
const heading_2 = respons2eData.data?.attributes?.heading 

---

<Layout
    title="eoss - Team"
    description="Wir sind Eoss. Unser Team von Spezialisten entwickelt moderne, individuelle und nachhaltige Lösungen."
>
    <Hero title="Kleines Team - grosse Ideen" type="small">
        <p>
            Wir sind ein eingespieltes Teams von Spezialisten aus den
            verschiedensten Bereichen. Probleme erkennen und pragmatische und
            ausgeklügelte Lösungen zu finden ist unsere Leidenschaft.
        </p>
    </Hero>
    <section class="grid grid-cols-1 md:grid-cols-2 px-4 py-16">
        <article>
            <h2>Da sind wir.</h2>
            <p>
                Hallo - wir sind Eoss. Unsere Büros im Erdgeschoss eines
                Minergie-Gebäudes sind in Uznach SG, mit Blick auf die Glarner
                Alpen. In Steinwurf-Reichweite liegt das Städtchen Rapperswil.
                Im Ring angeordnet hat jedes Teammitglied einen ruhigen
                Arbeitsplatz, während wir uns in der Mitte treffen. Für
                Projektbesprechungen, Kundenmeetings und auch fürs gemeinsame
                Mittagessen. Das Sofa steht hauptsächlich für unseren Bürohund
                da. In dieser schönen Umgebung produzieren wir moderne
                Webseiten, sorgen dafür, dass User sich gut darauf zurechtfinden
                und kümmern uns um gute Suchergebnisse bei Google und anderen
                Suchmaschinen.
            </p>
        </article>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4 py-32">
        <h2 class="col-span-full">Unser Team</h2>
        {
            teamEntries.map((entry: any) => (
                <TeamCard
                    name={entry.data.name}
                    role={entry.data.role}
                    image={entry.data.image.src}
                    email={entry.data.email}
                />
            ))
        }
    </section>
    <section class="grid grid-cols-1 md:grid-cols-2 px-4 py-8 gap-8">
        <article>
            <h2>{heading}</h2>
            {description}
        </article>
        <article>
            <h2>{heading_2}</h2>
            {description_2}
        </article>
    </section>
</Layout>
