---
import { Icon } from 'astro-icon/components'
const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API}company-address`)
const responseData = await response.json()
const { data: { attributes } } = responseData; 

---

<footer class="bg-primary-900 text-primary-100">
    <section
        class="flex flex-col justify-between pt-8 pb-16 px-4 text-xs font-thin md:flex-row"
    >
        <div class="mb-4 md:mb-0">
            <div class="pb-4">
                <p>{attributes.companyname} - {attributes.address} - {attributes.plz}</p>
                <p class="text-xs">
                    <a href={`tel:${attributes.phone}`}>{attributes.phone}</a> - 
                    <a href={`mailto:${attributes.email}`}>{attributes.email}</a>
                </p>
            </div>
            <ul class="flex">
                <li><a href="/datenschutz">Datenschutz</a></li>
                <span> &nbsp; | &nbsp; </span>
                <li><a href="/impressum">Impressum</a></li>
                <span> &nbsp; | &nbsp; </span>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
        <ul class="flex items-center">
            <li>
                <a href="https://github.com/eoss-INFORMATIK/" target="_blank"
                    ><Icon
                        class="text-lg text-primary-100 hover:text-secondary-500"
                        name="github"
                    /></a
                >
            </li>
            <li>
                <a
                    href="https://www.instagram.com/eoss.ch/?hl=de"
                    target="_blank"
                    ><Icon
                        class="text-lg text-primary-100 hover:text-secondary-500"
                        name="insta"
                    /></a
                >
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/company/eoss-informatik-ag"
                    target="_blank"
                    ><Icon
                        class="text-lg text-primary-100 hover:text-secondary-500"
                        name="linkedin"
                    />
                </a>
            </li>
        </ul>
    </section>
</footer>
